{% extends "base.html" %}
{% block title %}Log In {% endblock %}

{% block body %}
    <header class="masthead" style="background-image: url('{{ login.img.url }}')">

        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>{{ login.title }}</h1>
                        <span class="subheading">{{ login.description }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <form method="post">
            <div class="form-group">
                {% csrf_token %}
                {% for field in loginform %}
                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                {{ field }}
                {% endfor %}
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="{% url 'register-view' %}" class="btn btn-success">Register </a>

        </form>
    </div>

{% endblock %}