{% extends "base.html" %}
{% load static %}
{% block body %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ post.image.url }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        <h2>{{ post.description }}</h2>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in postform %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                {{ field }}
                                {% if field.errors %}
                                    {% for msg in field.errors %}
                                        <span class="text-danger">{{ msg }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endfor %}
                        <button type="submit">Save</button>

                    </form>
                </div>

            </div>
        </div>
    </article>

    <hr>

    {{ postform.media }}

{% endblock %}
